/*
 * [INTERFACE]
 * for transforming class members into strings
 * exactly accordant with items in db table
 * similar with Printable
 * would access/modify members of class
 */


class DataProvider {

public:
	virtual string getMemberName(int type) = 0;
	virtual string getMemberValue(int type) = 0;
	virtual int getMemberCount() = 0;

	virtual string setMemberValue(string name, string value) = 0;

	/// for table name
	virtual string getContainerName() = 0;

	/// just a name
	virtual string getName() = 0;

	/// make a copy for provider and inner class
	// may be useful in DataVisitor::select()
	virtual DataProvider* clone() = 0;

	/// get inner class instance
	virtual void* providee() = 0;

	///?? for order
	virtual void setDataOrder(DataOrder* o) { _order = o; }
	virtual DataOrder* getOrder() { return _order; }

protected:
	DataProvider() {}

private:
	DataOrder* _order(NULL);
};

